<p style="color: green"><%= notice %></p>

<%= render @auth %>

<div>
  <%= link_to "Edit this auth", edit_auth_path(@auth) %> |
  <%= link_to "Back to auths", auths_path %>

  <%= button_to "Destroy this auth", @auth, method: :delete %>
</div>
